.button_style{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.button_group{
    margin:0 auto;
    display:inline-block;
}

tr:nth-child(even) {background-color: white;}

.thead_style{
    background-color: white;
}